/* Open props */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 20px;
}

/*
  Newly available custom properties definition syntax,
  which allows us to transition values without javascript.
*/
@property --x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --replay-len {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
