/* Open props */
@import "https://unpkg.com/open-props@1.7.7/open-props.min.css";
@import "https://unpkg.com/open-props@1.7.7/normalize.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 20px;
  --font-sans: "Chakra Petch", system-ui, sans-serif;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--pink-7);
    --link: var(--violet-4);

    --ui-1: var(--teal-4);
    --ui-2: var(--yellow-3);
    --ui-3: var(--violet-6);
    --ui-4: var(--orange-6);
  }
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    --brand: var(--sand-11);
    --link: var(--purple-5);

    --surface-1: var(--sand-1);
    --surface-2: var(--sand-2);
    --surface-3: var(--sand-3);
    --surface-4: var(--sand-4);

    --ui-1: var(--lime-7);
    --ui-2: var(--orange-5);
    --ui-3: var(--purple-5);
    --ui-4: var(--choco-11);
  }
}

/*
  Newly available custom properties definition syntax,
  which allows us to transition values without javascript.
*/
@property --x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --replay-len {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
